
#navbar {
    right: -13px;
    top: 5px;
    position: absolute;
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    padding: 10px;
    flex-direction: right;
}

.item {
    list-style: none;
    padding-right: 20px;

}

#nav {
    float: right;
    
}


button{
    cursor: pointer;
}

#logoimg {
    position: absolute;
    right: 1224px;
    top: -27px;
    width: 120px;
    height: 100px;
}

.h1 {
    position: absolute;
    top: 115px;
    height: 120px;
    left: 570px;



}

.h2 {
    position: absolute;
    top: 190px;
    height: 120px;
    left: 650px;




}

.h3 {
    position: absolute;
    top: 320px;
    height: 120px;
    left: 630px;

}

.banner-img img {
    width: 10%;
    height: 100%;
    object-fit: cover;
}

.lazyloaded {
    opacity: 1;
    /* transition: opacity 400ms; */
    transition-delay: 0ms;
    animation: slideAnimation 20s linear infinite;

}

@keyframes slideAnimation {
    0% {
        transform: translateX(-0%);
    }

    10% {
        transform: translateX(25%);
    }
}

#img1 {
    width: 174px;
    border-radius: 53%;
    position: absolute;
    top: 219px;
    height: 185px;
    left: 180px;
}


#img2 {
    border-radius: 50%;
    position: absolute;
    top: 475px;
    height: 120px;
    left: 200px;
}

#img3 {
    border-radius: 50%;
    position: absolute;
    top: 221px;
    height: 180px;
    left: px;
    width: 200px;
    right: 71px;

}

#img4 {

    border-radius: 50%;
    position: absolute;
    top: 467px;
    height: 161px;
    left: px;
    right: 147px;
    width: 189px
}



.para {
    font-size: xx-large;
    background-color: rgba(250, 235, 215, 0.651);
    text-align: center;
    padding-top: 45px;
    height: 224px;
}
#section5{
    background-image: url('../bg4.png'); 
    height: 400px;
}
#div5{
    display: flex;
    padding-top: 65px;
    color: rgb(238, 227, 227);
    padding-left: 50px;
    font-size: larger;
   
}

#box {
    padding: 30px;
    margin: 50px;
    right: 20px;
}

#box1 {
    display: flex;
    text-align: center;
}

#box2 {
    text-align: center;
}

.h4 {
    text-align: center;
    justify-content: center;
}

#div4 {
    display: flex;
    justify-content: center;

}

.div5 {
    padding: 50px;
    margin: 15px;
    border-radius: 15px;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icon1 {
    width: 200px;
    height: 200px;

}




.container {
    display: flex;
    
}

/* CSS for the boxes */
.box {
    flex-grow: 1;
    height: 300px;
    width: 150px;
    box-sizing: border-box;
    
}

.box img {

    height: 200px;
    width: 250px;
}

#box img {
    height: 50px;
    width: 100px;
    border-radius: 20px;
}


.paraf{
    position: absolute;
    left: 500px;
    top: 1071%;
}

.boxmiddle {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    
    
}

.ull{
    display: block;
    margin: 20px;
    
}

.ull li{
    margin: 20px;
    list-style: none;
}
.ull li a{
    text-decoration: none;
}

/* CSS for the middle box */
.box.middle {
    flex-grow: 2;
}

#insta{
    width: 50px;
   

}
#facebook{
    width: 50px;
    position: absolute;
    left: 145px;
}
#twt{
    width: 33px;
    position: absolute;
    left: 120px;
}